:root {
    --primary-color: #FF6060;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --white-color: #FFFFFF;
    ;
}

body {
    width: 90%;
    margin: auto;
    color: var(--primary-color);
    font-family: 'Montserrat';
    font-style: normal;
}

