.logo{
    width: auto;
    height: 3rem;
    padding: 4rem;
}
header{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    color:var(--primary-color);
    padding:5px;
    text-decoration: none;
}
header nav a:focus{
    text-decoration: underline;
}