.carousel__container {
  position: relative;
}

.carousel__img {
  width: 100%;
  object-fit: cover;
  height: 15rem;
  border-radius: 25px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.prev {
  position: absolute;
  top: 30%;
  left: 0;
}

.next {
  position: absolute;
  top: 30%;
  right: 0;
}

@media screen and (max-width: 850px) {
  .carousel__img {
    width: 100%;
  }

  .prev, .next {
    height: 1.25rem;
    width: 11px;
    top: 40%;

  }

}