.homeGalary{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(226, 226, 224, 0.541);
    border-radius: 1.5625rem;
    margin: 2rem 0;
}